* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
button {
  width: 100px;
  height: 50px;
  font-size: 36px;
}

button[data-start] {
  width: 100px;
  height: 50px;
  font-size: 36px;
}
#datetime-picker {
  height: 50px;
  text-align: center;
  font-size: 36px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.timer {
  display: flex;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.field:not(:last-child) {
  margin-right: 20px;
}
.form {
  text-align: center;
}
.form > button {
  height: 90px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form > label > input {
  height: 30px;
  margin-bottom: 40px;
}
.form > label {
  font-size: 28px;
}
.form > label:not(:first-child) {
  margin-left: 50px;
}
